.mdl-layout__header-row {
  padding-left: 32px;
}

.mdl-layout-title {
  color: #687785;
}

.mdl-textfield {
  padding: 0;
  margin-top: 41px;
}

.mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.navigation {
  direction: ltr;
  justify-content: flex-end;
}

.navigation .mdl-navigation__link {
  display: inline-block;
  height: 48px;
  line-height: 46px;
  background-color: transparent;
  padding: 0;
}

.navigation .mdl-navigation__link a {
  display: inline-block;
  color: #687785;
  text-decoration: none;
  padding: 0 24px;
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease-out;
}

.navigation .mdl-navigation__link a:hover,
.navigation .mdl-navigation__link a.router-link-active {
  color: #fff;
  border-color: #9644ff;
}
