<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <avast-sidebar class="mdl-layout__drawer mdl-color-text--blue-grey-50">
  </avast-sidebar>
  <main class="mdl-layout__content mdl-color--blue-grey-800 mdl-color--grey-100">
    <avast-header class="mdl-layout__header mdl-color-text--blue-grey-50">
    </avast-header>
    <div class="mdl-grid">
      <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>

