html, body {
  font-family: "Roboto", Helvetica, sans-serif;
}

/*
sidebar:        #2d333c
bg:             #343d47 - #404852

neon blue:      #00b9e6
neon purple:    #9644ff
neon green:     #00df93

seafoam green:  #2ef2dc
light cyan:     #2bd9f8

green:          #33c87e
red:            #f94964

a {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  background: {
    color: #F96B4C;
    image: linear-gradient($gradient);
  }

  display: block;
  clear: both;
  margin: auto;
  border-radius: 100%;
  top: calc(500% + 66px);
  box-shadow: 0 2px 0 #D42D78,
              0 3px 10px rgba(#F33180, 0.15),
              0 0px 10px rgba(#F33180, 0.15),
              0 0px 4px rgba(darken(#F33180, 80%), 0.35),
              0 5px 20px rgba(#F33180, 0.25),
              0 15px 40px rgba(#F33180, 0.75),
              inset 0 0 15px rgba(#FFFFFF, 0.05);

  overflow: hidden;


  &:after {
    content:'';
    font-style: normal;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: {
      image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/icon-add-f.svg");
      repeat: no-repeat;
      size: 30%;
      position: center center;
    }

    left: 0;
    top: 0;
  }
}
*/

.mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.mdl-layout__header,
.mdl-layout__drawer {
  border: none;
}

.mdl-layout__drawer {
  background-color: #2d333c;
}

.mdl-layout__content {
  background-color: linear-gradient(45deg, #343d47, #404852);
}

.mdl-layout__header {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 16px;
}
