<div *ngIf="node">
  <h2>{{node.name}} Details</h2>
  <div>
    <label>name:</label> {{node.name}}
  </div>
  <div>
    <label>address:</label> {{node.address}}
  </div>

  <h2>Services</h2>
  <ul class="services">
    <li *ngFor="#s of node.services">
      <h3>{{s.service}}</h3>
      <div>
        <label>id:</label> {{s.id}}
      </div>
      <div>
        <label>address:</label> {{s.address}}
      </div>
      <div>
        <label>port:</label> {{s.port}}
      </div>
      <div>
        <label>tags:</label> {{s.tags}}
      </div>
    </li>
  </ul>

  <h2>Health Checks</h2>
  <ul class="checks">
    <li *ngFor="#c of node.checks">
      <h3>{{c.name}}</h3>
      <div>
        <label>check id:</label> {{c.checkId}}
      </div>
      <div>
        <label>service:</label> {{c.serviceId}} {{c.serviceName}}
      </div>
      <div>
        <label>status:</label> {{c.status}}
      </div>
      <div>
        <label>output:</label> <code>{{c.output}}</code>
      </div>
      <div>
        <label>notes:</label> {{c.notes}}
      </div>
    </li>
  </ul>

  <button (click)="goBack()">Back</button>
</div>
