<header class="drawer-header">
  <div class="dc-dropdown">
    <span>dc1</span>
    <div class="mdl-layout-spacer"></div>
    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
      <i class="material-icons" role="presentation">arrow_drop_down</i>
      <span class="visuallyhidden">Datacenters</span>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
      <li class="mdl-menu__item">dc1</li>
      <li class="mdl-menu__item">dc2</li>
    </ul>
  </div>
</header>
<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="">
    <span>rpi1</span>
    <small>1.1.1.1:1234</small>
    <span class="led"></span>
  </a>
  <a class="mdl-navigation__link" href="">
    <span>rpi2</span>
    <small>1.1.1.1:1234</small>
    <span class="led"></span>
  </a>
  <a class="mdl-navigation__link" href="">
    <span>rpi3</span>
    <small>1.1.1.1:1234</small>
    <span class="led"></span>
  </a>
  <a class="mdl-navigation__link" href="">
    <span>rpi4</span>
    <small>1.1.1.1:1234</small>
    <span class="led"></span>
  </a>
  <a class="mdl-navigation__link" href="">
    <span>rpi5</span>
    <small>1.1.1.1:1234</small>
    <span class="led"></span>
  </a>
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
</nav>
